*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app{
  background-color: #fafafa;
}
.app_header{
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
  
}
.app_headerimg{
  object-fit: contain;
}
.app_signup{
  display: flex;
  flex-direction: column;
}
.app_post{
  display: flex;
  justify-content: center;
  padding: 20px;
}
h3{
  text-align: center;
  text-transform: capitalize;
  font-weight: bolder;
  margin-top: 20px;
}

